<form [formGroup]="passwordForm" novalidate>
  <mat-card class="user-card card">
    <mat-card-header>
      <mat-card-title>Mot de passe</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="col">
        <mat-form-field>
          <mat-label for="password">Mot de passe actuel</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
            formControlName="password"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
            Mot de passe <strong>requis</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label for="newPassword">Nouveau mot de passe</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
            formControlName="newPassword"
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('required')"
          >
            Nouveau mot de passe <strong>requis</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label for="newPassword">Retapez le mot de passe</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Mot de passe"
            formControlName="newPassword"
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('required')"
          >
            Les mots de passe doivent <strong>correspondre</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button mat-raised-button color="primary" type="submit">Valider</button>
      <button mat-raised-button color="onprimary" (click)="onCancel()">
        Abandonner
      </button>
    </mat-card-actions>
  </mat-card>
</form>
